.bttn {
    width: 100%;
    height: 45px;
    border: 0px solid transparent;
    border-radius: 0px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    background-color: $navy;
    transition: all .7s ease-in-out;
    @include font-size(14px);
    @include for-phone-only {
        width: 60%;
    }
    &:hover {
        border: 2px solid $navy;
        color: $navy;
        background-color: transparent;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $navy;
        }
    }
}