.portfolio {
    &__controls {
        justify-content: center;
        width: 70%;
        @include for-phone-only {
            width: 100%;
        }
        &-filter {
            color: $navy;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 1em 2em;
            font-family: $main;
            @include font-size(16px);
            font-weight: $regular;
            text-decoration: none;
            &:hover{
                background-color: $pink;
                color: $white;
                transition: background-color 0.45s ease-in-out;
            }
            @include for-phone-only {
                padding: 1em .5em;
            }
        }
    }
} 

.filter-container {
    height: auto !important;
}